<h2>My Cart</h2>
<%if @cart.sub_total>0%>
  <ul>
    <% @cart.cart_products.each do |cart_product| %>
      <li>Product: <%= cart_product.product.title %>/ Price: <%= number_to_currency(cart_product.product.price) %>/ Total Price: <%= number_to_currency(cart_product.total_price) %>
      <ul>
        <li>
          <%= button_to "Add one", cart_product_add_path(:id => cart_product), method: "post" %>
          <%= button_to "Reduce one", cart_product_reduce_path(:id => cart_product), method: "post" %>
        </li>
        <li>
          <%= button_to "Remove item", cart_product_path(cart_product), method: :delete %>
        </li>
      </ul>
    <% end %>
  </ul>

  <h3>Sub total: £<%= @cart.sub_total %></h3>
  <%= button_to "Proceed to checkout", root_path %><br>

  <%= button_to "Empty cart", cart_path(@current_cart), method: :delete, data: {confirm: "Are you sure?"} %>
<%else%>
  <h3>Your cart is empty! Check out our products <%= link_to "here! ", products_path %> </h3>
<%end%>
