<!-- Remove the container if you want to extend the Footer to full width. -->

<footer style="background-color: #deded5;">
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-3 text-center" style="letter-spacing: 2px; ">Help and Support</h5>
        <ul class="list-unstyled mb-6 text-center">
          <li>
            <%=link_to "Customer Service", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "FAQs", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Returns and Exchanges", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Shipping and Tracking", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Size Chart", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Store Locator", root_path, class: 'btn text-dark'%>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-3 text-center" style="letter-spacing: 2px;">Shop</h5>
        <ul class="list-unstyled text-center">
          <li>
            <%=link_to "New Arrivals", products_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Shop Men", products_path(gender: "men"), class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Shop Women", products_path(gender: "women"), class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Shop Kids", products_path(gender: "kids"), class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Bestsellers", products_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Gift Guide", products_path, class: 'btn text-dark'%>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 ">
        <h5 class="mb-3 text-center" style="letter-spacing: 2px;">About Us</h5>
        <ul class="list-unstyled text-center">
          <li>
            <%=link_to "Who We Are", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Sustainability and Inclusivity", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Blog", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Careers", root_path, class: 'btn text-dark'%>
          </li>
          <li>
            <%=link_to "Contact Us", root_path, class: 'btn text-dark'%>
          </li>
        </ul>

        <div class="container">
          <div class="row">
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/1.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/2.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/3.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/4.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/5.png">
            </div>
            <div class="col">
              <img class="img" src="/products/assets/images/social_icons/6.png">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row align-items-center">
        <div class="text-center p-3 border-top border-white">
          <p class="text-dark">(012) 123-4567</p>
          <p class="text-dark">1337 Someplace Street</p>
          <p class="text-dark">A4, London WC2N 5DU, UK</p>
        </div>
      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="/">Golden Shoe</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->
