<nav class="navbar navbar-expand-md border-top navbar-light bg-light h4">
  <div class="container-fluid">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav me-auto">
              <a class="navbar-brand" href="/">
                <img src="/products/assets/images/logos/1.png" width="150" alt="Golden Shoe">
              </a>
          </ul>
      </div>
    <div class="mx-auto order-0">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> New Arrivals </a>
                <ul class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarScrollingDropdown">
                  <li><%=link_to 'All', products_path, :class => 'dropdown-item'%></li>
                  <li><%=link_to 'Women', products_path(gender: "women"), :class => 'dropdown-item'%></li>
                  <li><%=link_to 'Men', products_path(gender: "men"), :class => 'dropdown-item'%></li>
                  <li><%=link_to 'Kids', products_path(gender: "kids"), :class => 'dropdown-item'%></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Women </a>
              <ul class="dropdown-menu text-center dropdown-menu-right" aria-labelledby="navbarScrollingDropdown" style="width: 30em;">
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">Shoes</h5>
                  <ul class="list-unstyled mb-6 text-center">
                    <li><%=link_to 'All Shoes', products_path(gender: "women"), :class => 'dropdown-item'%></li>
                    <li><%=link_to 'New Arrivals', products_path(gender: "women"), :class => 'dropdown-item'%></li>
                  </ul>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%;">
                  <h5 class="text-center">By Brand</h5>
                  <ul class="list-unstyled mb-6 text-center">
                    <%Product.where(gender: "women").pluck(:brand).uniq.each do |brand|%>
                      <li><%=link_to brand, products_path(brand: brand, gender: "women"), :class => 'dropdown-item'%></li>
                    <%end%>
                    </ul>
                  </li>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">By Style</h5>
                  <ul class="list-unstyled mb-6 text-center">
                    <%Product.where(gender: "women").pluck(:style).uniq.each do |style|%>
                      <li><%=link_to style, products_path(style: style, gender: "women"), :class => 'dropdown-item'%></li>
                    <%end%>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Men </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown" style="width: 30em;">
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">Shoes</h5>
                  <ul class="list-unstyled mb-6 text-center">
                    <li><%=link_to 'All Shoes', products_path(gender: "men"), :class => 'dropdown-item'%></li>
                    <li><%=link_to 'New Arrivals', products_path(gender: "men"), :class => 'dropdown-item'%></li>
                  </ul>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">By Brand</h5>
                    <ul class="list-unstyled mb-6 text-center">
                      <%Product.where(gender: "men").pluck(:brand).uniq.each do |brand|%>
                        <li><%=link_to brand, products_path(brand: brand, gender: "men"), :class => 'dropdown-item'%></li>
                      <%end%>
                    </ul>
                  </li>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">By Style</h5>
                    <ul class="list-unstyled mb-6 text-center">
                      <%Product.where(gender: "men").pluck(:style).uniq.each do |style|%>
                        <li><%=link_to style, products_path(style: style, gender: "men"), :class => 'dropdown-item'%></li>
                      <%end%>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Kids </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarScrollingDropdown" style="width: 30em;">
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">Shoes</h5>
                  <ul class="list-unstyled mb-6 text-center">
                    <li><%=link_to 'All Shoes', products_path(:gender=>("kids")), :class => 'dropdown-item'%></li>
                    <li><%=link_to 'New Arrivals', products_path(:gender=>("kids")), :class => 'dropdown-item'%></li>
                  </ul>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">By Brand</h5>
                    <ul class="list-unstyled mb-6 text-center">
                      <%Product.where(gender: "kids").pluck(:brand).uniq.each do |brand|%>
                        <li><%=link_to brand, products_path(brand: brand, gender: "kids"), :class => 'dropdown-item'%></li>
                      <%end%>
                    </ul>
                  </li>
                </div>
                <div class="dropdown-col" style="display: inline-block; width: 32%; vertical-align: top">
                  <h5 class="text-center">By Style</h5>
                    <ul class="list-unstyled mb-6 text-center">
                      <%Product.where(gender: "kids").pluck(:style).uniq.each do |style|%>
                        <li><%=link_to style, products_path(style: style, gender: "kids"), :class => 'dropdown-item'%></li>
                      <%end%>
                    </ul>
                  </li>
                </div>
              </ul>
            </li>
        </div>
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button type="button" class="btn btn-default">
                <% if user_signed_in?%>
                  <%=link_to image_tag("/products/assets/images/social_icons/user.png", :width => 30), user_path(current_user.id), :class => 'dropdown-item'%>
                <% else %>
                  <%=link_to image_tag("/products/assets/images/social_icons/user.png", :width => 30), new_user_session_path, :class => 'dropdown-item'%>
                <% end %>
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-default">
                <%=link_to image_tag("/products/assets/images/social_icons/cart.png", :width => 30), cart_path(@current_cart), :class => 'dropdown-item'%>
              </button>
            </li>
            <li>
              <div class="input-group">
                <input type="text" class="form-control form-control-md" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <img src="/products/assets/images/social_icons/search.png" width="20">
                  </button>
                </div>
              </div>
            </li>
          </ul>
      </div>
  </div>
</nav>
